
.description {
  font-weight: bold;
  font-size: 18px;
  text-align: right;
  text-align: left;
  font-family: pt sans caption;
}

#headline {
  color: gray;
  font-size: 60px;
.headline {
  color: darkblue;
  font-size: 100px;
  text-align: center;
  font-family: oriya mn;
}

.image {
@@ -27,4 +30,13 @@
  top: 80%;
  width: 15%;
  opacity: 0.65;
} 
}

.jumbotron {
  background-color: #bee5d3 !important;
}

.carousel-inner img {
  width: 90%;
  height: 90%;
} 
